.menu {
  display: flex;
  height: 96vh;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu a {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #bfbfbf;
  text-decoration: none;
}

.header,
.footer {
  width: 100%;
  height: 40px;
  opacity: 0,1;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.footer:hover {
  background: #262626;
}

.footer:hover a {
  color: #cccccc;
}

.footer {
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.50);
}

.header div,
.footer div {
  display: flex;
  height: 38px;
  align-items: center;
}

.header div {
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 20px;
}

.footer div {
  justify-content: center;
}

/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	min-width: 75px;
	width: 10%;
	height: 100%;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background-image: url(../../img/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
	cursor: url(../../img/cursor_arrow_left.png), url(../../img/cursor_arrow_left.cur),w-resize;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background-image: url(../../img/arrow_left.gif);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	background-image: url(../../img/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: url(../../img/cursor_arrow_right.png), url(../../img/cursor_arrow_right.cur),e-resize;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-image: url(../../img/arrow_right.gif);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}

/*div.scrollingHotSpotLeft {
    min-width: 75px;
    width: 10%;
    height: 100%;
    background-image: url(http://pcvector.net/uploads/demo/scripts/slideshow_and_scroller/smooth_div_scroll/images/big_transparent.gif);
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    z-index: 200;
    left: 0;
    cursor: url(../../img/curs_left.png), url(../../img/curs_left.cur),w-resize;
}

div.scrollingHotSpotRight {
    min-width: 75px;
    width: 10%;
    height: 100%;
    background-image: url(http://pcvector.net/uploads/demo/scripts/slideshow_and_scroller/smooth_div_scroll/images/big_transparent.gif);
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    z-index: 200;
    right: 0;
    cursor: url(../../img/curs_right.png), url(../../img/curs_right.cur),e-resize;
}

div {
    display: block;
}*/


figure {
  display: inline-block;
  background-size: cover;
}

div.gallery {
  height: calc(100vh - 80px);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px;
  z-index: 0;
}

div.small {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  justify-content: space-between;
  padding: 0 5px 0 5px;
}

figure.big {
  width: calc(100vh - 80px);
  height: calc(100vh - 80px);
}

figure.small {
  width: calc(50vh - 42.5px);
  height: calc(50vh - 42.5px);
}


.big#img1 {
  background-image: url(../../img/1.jpg);
}

.big#img2 {
  background-image: url(../../img/2.jpg);
}

.big#img3 {
  background-image: url(../../img/3.jpg);
}

.big#img4 {
  background-image: url(../../img/4.jpg);
}


.small#img1 {
  background-image: url(../../img/5.jpg);
}

.small#img2 {
  background-image: url(../../img/6.jpg);
}

.small#img3 {
  background-image: url(../../img/7.jpg);
}

.small#img4 {
  background-image: url(../../img/8.jpg);
}

.small#img5 {
  background-image: url(../../img/9.jpg);
}

.small#img6 {
  background-image: url(../../img/10.jpg);
}

.small#img7 {
  background-image: url(../../img/11.jpg);
}

.small#img8 {
  background-image: url(../../img/12.jpg);
}
